nav#topo{
    background-color: rgb(0, 141, 197) !important;
}

div.geral{
    background: linear-gradient(-45deg, rgb(0, 74, 192), rgb(0, 1, 63));
    min-height: 170vh !important;
    margin-bottom: -5% !important;
}
html,body
{
    
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
p{
    font-size: 100px;  
    color: rgb(255, 255, 255);
    margin-left: 5%;
    font-weight: 1000;
}
p#super{
    
    transition: .6s;
}
p#super:hover{
    text-shadow:0 0 25px rgb(0, 255, 34);
}

div#jogo{
    background-color: rgba(0, 219, 190, 0.5);
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    border-radius: 40px;
    margin-bottom: 5vh !important;
    
}
p#jog, p#jog2{
    font-size: 70px;
    margin-top: 20px;
    margin-left: 3%;
    transition: .4s;
}
p#jog:hover, p#jog2:hover{
    text-shadow:0 0 16px white;
}

p#sob{
    font-size: 55px;
    margin-left: 3%;
}
p#sob2{
    font-size: 35px;
    margin-right: 5%;
    text-align: justify;
}

p#sob3{
    font-size: 55px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

div.geral2{
    background: linear-gradient(-45deg, rgb(0, 74, 192), rgb(0, 1, 63));
    
    box-shadow: 0 0 16px black;
    
}

label{
    font-size: 60px;
    font-weight: 1000;
    color: white;
    margin-left: 5%;
    background: linear-gradient(rgb(0, 0, 88),rgb(1, 1, 126), blue);
    width: 700px;
    text-align: center;
    border-radius: 20px;
    height: 100px;
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 70px;
    border: 2px solid beige;
    transition: .4s;
}
label:hover{
    background: transparent;
    box-shadow: 0 0 25px white;
    transform: translateY(15px);
}

img{
    height: 450px;
    width: 450px;
    border-radius: 20px;
    border: 4px ridge #ffd700;
    
}


@media screen and (max-width: 1320px){
    
    
    img{
        width: 400px !important;
        height: 400px !important;
    }
}

@media screen and (max-width: 1261px){
    img{
        width: 350px!important;
        height: 350px!important;
    }
    label{
        width: 600px;
    }
}

 @media screen and (max-width: 1165px){
    
    
    label{
        width: 550px;
    }
    label#int2{
        font-size: 50px;
    }
} 

@media screen and (max-width: 1112px){
    
    
    label{
        width: 500px;
    }
    label#int2{
        font-size: 45px;
    }


    p#jog, p#jog2{
        font-size: 57px;
        margin-top: 20px;
        margin-left: 3%;
        transition: .4s;
    }
    p#sob{
        font-size: 45px ;
        margin-left: 3%;
    }
    p#sob2{
        font-size: 29px;
        margin-right: 5%;
        text-align: justify;
    }
    
    p#sob3{
        font-size: 45px;
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
    }
    
}

 @media screen and (max-width: 1066px){
    
    
    label{
        width: 400px;
        font-size: 47px;
    }
    label#int2{
        font-size: 38px;
    }
}
 

@media screen and (max-width: 962px){
    

label{
    
    height: 80px ;
    
}
} 

@media screen and (max-width: 912px){
    img{
        width: 300px!important;
        height: 300px!important;
    }
}
@media screen and (max-width: 862px){
    label{
        margin-left: 3%;
        margin-right: 3%;
    }
    p#jog, p#jog2{
        font-size: 51px;
        margin-top: 20px;
        margin-left: 3%;
        transition: .4s;
    }
    p#sob{
        font-size: 40px ;
        margin-left: 3%;
    }
    p#sob2{
        font-size: 25px;
        margin-right: 5%;
        text-align: justify;
    }
    
    p#sob3{
        font-size: 40px;
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
    }
    
}



@media screen and (max-width: 766px){
    img{
        height: 250px !important;
        width: 250px !important;
    }
    label{
        width: 350px;
        font-size: 42px;
    }
    label#int2{
        font-size: 33px;
    }
}

@media screen and (max-width: 713px){
   
    label{
        width: 300px;
        height: 42px ;
        font-size: 28px;
    }
    label#int2{
        font-size: 25px;
    }
}

@media screen and (max-width: 610px){
   img{
       width: 200px !important;
       height: 200px !important;
   }
   p#jog, p#jog2{
    font-size: 45px;
    margin-top: 20px;
    margin-left: 3%;
    transition: .4s;
}
p#sob{
    font-size: 35px ;
    margin-left: 3%;
}
p#sob2{
    font-size: 22px;
    margin-right: 5%;
    text-align: justify;
}

p#sob3{
    font-size: 35px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

}

@media screen and (max-width: 555px){
    img{
        width: 180px !important;
        height: 180px !important;
    }
    p#jog, p#jog2{
        font-size: 38px;
        margin-top: 20px;
        margin-left: 3%;
        transition: .4s;
    }
    p#sob{
        font-size: 30px ;
        margin-left: 3%;
    }
    p#sob2{
        font-size: 19px;
        margin-right: 5%;
        text-align: justify;
    }
    
    p#sob3{
        font-size: 30px;
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
    }
    
 }

 @media screen and (max-width: 534px){
    label{
        width: 270px;
        height: 42px ;
        font-size: 28px;
    }
    label#int2{
        font-size: 25px;
    }
 }

 @media screen and (max-width: 501px){
    label{
        width: 240px;
        height: 38px ;
        font-size: 25px;
    }
    label#int2{
        font-size: 22px;
    }
 }


