body{
    background: linear-gradient( rgb(3, 7, 58) 30%, rgb(29, 15, 223));
    background-size: 100vw 105vh;
   
}
::-webkit-scrollbar{
    overflow: unset;
}

div#geral-nat-1, div#exp1, div#al2, div#exp2, div#al3, div#exp3, div#al4, div#exp4, div#al5, div#exp5, div#al6, div#exp6, div#al7, div#exp7, div#al8, div#exp8, div#al9, div#exp9, div#al10, div#exp10, div#final{
    height: 96vh;
    max-height: 160vh;
    overflow: auto;
    margin-bottom: 0;
}

div#geral-nat-1.some, div#exp1.some, div#al2.some, div#exp2.some, div#al3.some, div#exp3.some, div#al4.some, div#exp4.some, div#al5.some, div#exp5.some, div#al6.some, div#exp6.some, div#al7.some, div#exp7.some, div#al8.some, div#exp8.some, div#al9.some, div#exp9.some, div#al10.some, div#exp10.some, div#final.some{
    height: 0vh;
    max-height: 0vh;
    
}




div{
    overflow: hidden
    
}
div.some{
    max-height: 0vh;
    pointer-events: none;
}
div#number{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    background-color: rgb(0, 10, 146);
    width: 50px;
    height: 50px;
    color: rgb(143, 186, 255);
    border-radius: 100%;
    border: 4px rgb(0, 225, 255) solid;
    margin-top: 10px ;

}

div#enunc, div#enuncf, div#enunc4, div#enuncff{
    color: white;
    font-size: 50px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    border: 10px white double;
    background-color: rgba(38, 0, 255, 0.7);
    
}



button{
    
    outline: none;
    width: 400px;
    height: 110px;
    margin-top: 30px;
    font-size: 25px;
    border: 4px solid rgb(138, 138, 138);
    background: linear-gradient(rgb(0, 0, 88),rgb(1, 1, 126), blue);
    color: white;
    transition: .4s;
    border-radius: 30px;
    
}

button:hover{
    background: transparent; 
    box-shadow: 0px 0px 30px rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    transform: translateY(15px);
    
}

button#qg1, button#buttonexp4{
    margin-bottom: 50px;
}
.super{
    opacity: 0;
    height: 9px;
    transition: .5s;
}
.super:hover{
    opacity: 1;
    height: 40px;
    color: black;
    font-size: 25px;
    background:linear-gradient( rgb(57, 133, 255), lightgreen);
    border-radius: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media screen and (max-width: 1700px) {
    div#enunc{
        transform: scale(0.95);
        padding: 18px;
    }
    button{
        width: 380px;
        height: 105px;
       
    }
    button:hover{
        width: 380px;
        transform: translateY(15px);
    }
}

@media screen and (max-width: 1447px){
    div#enunc4{
        font-size: 45px;
        padding: 18px;
    }
} 

@media screen and (max-width: 1420px) {
    div#enunc{
        transform: scale(0.87);
        
    }
    button{
        width: 380px;
        height: 105px;
       
    }
    button:hover{
        width: 380px;
        transform: translateY(15px);
    }
}

@media screen and (max-width: 1413px) {
    div#enunc{
        transform: scale(0.85);
        padding: 18px;
        margin-left: 10%;
        margin-right: 10%;
    }
    button{
        width: 340px;
        height: 94px;
       margin-top: 25px;
    }
    button:hover{
        width: 340px;
        transform: translateY(15px);
    }
}

@media screen and (max-width: 1413px){
    div#enunc4{
        font-size: 40px;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 1160px) {
    div#enunc{
        transform: scale(0.85);
        padding: 18px;
        margin-left: 10%;
        margin-right: 10%;
    }
    button{
        
        width: 340px;
        height: 94px;
       margin-top: 25px;
       font-size: 20px;
    }
    button:hover{
        width: 340px;
        transform: translateY(15px);
    }
}

@media screen and (max-width: 1160px) {
    div#enunc4{
        font-size: 39px;}}

        @media screen and (max-width: 1025px) {
            div#exp1 > div#enunc{
                font-size: 37px;}}

@media screen and (max-width: 952px) {
    div#enunc{
        font-size: 37px;}
        div#enuncff{
            font-size: 39px ;
            margin-left: 30%;
            margin-left: 30%;
        }
}
@media screen and (max-width: 947px) {
    div#enunc4{
        font-size: 37px;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 940px) {
    div#enunc{
        transform: scale(0.90);
        padding: 18px;
        margin-left: 10%;
        margin-right: 10%;
    }
    button{
        
        width: 340px;
        height: 94px;
       margin-top: 25px;
       font-size: 20px;
    }
    button:hover{
        width: 340px;
        transform: translateY(15px);
    }
}



@media screen and (max-width: 875px) {
    div#enunc{
        transform: scale(0.90);
        padding: 18px;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 45px;
    }

    
    button{
        
        width: 340px;
        height: 94px;
       margin-top: 25px;
       font-size: 20px;
    }
    button:hover{
        width: 340px;
        transform: translateY(15px);
    }
}

@media screen and (max-width: 840px) {
    div#enunc4{
        font-size: 35px;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 796px) {
    div#enunc{
        transform: scale(0.90);
        padding: 18px;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 40px;
    }

    div#enuncff{
        font-size: 32px ;
        margin-left: 30%;
        margin-left: 30%;
    }
    button{
        
        width: 360px;
        height: 99px;
       margin-top: 25px;
       font-size: 20px;
    }
    button:hover{
        width: 360px;
        transform: translateY(15px);
    }

    div#enunc4{
        font-size: 33px;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 757px){
    
    button#buttonexp4{
        width: 340px;
        height: 94px;
        margin-top: 10px;
    }
    button#exp4:hover{
        width: 340px;
    }
}

@media screen and (max-width: 732px){
    
    button#buttonexp4{
        width: 340px;
        height: 94px;
        margin-top: 5px;
       
    }
    button#exp4:hover{
        width: 340px;
    }
}

@media screen and (max-width: 730px){
    
    button#buttonexp4{
        width: 340px;
        height: 94px;
        margin-top: 5px;
       
    }
    button#exp4:hover{
        width: 340px;
    }
}

@media screen and (max-width: 718px) {
    div#enunc{
        transform: scale(0.90);
        padding: 18px;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 35px;
    }

    div#enuncff{
        font-size: 29px ;
        margin-left: 25%;
        margin-left: 25%;
    }
    button{
        
        width: 360px;
        height: 99px;
       margin-top: 25px;
       font-size: 20px;
    }
    button:hover{
        width: 360px;
        transform: translateY(15px);
    }

}

@media screen and (max-width: 650px){
    div#enuncff{
        font-size: 25px ;
        margin-left: 25%;
        margin-left: 25%;
    }
}

@media screen and (max-width: 590px){
    div#enuncff{
        font-size: 22px ;
        margin-left: 20%;
        margin-left: 20%;
    }
}

@media screen and (max-width: 573px) {
div#enunc4{
    font-size: 30px;
    margin-left: 10%;
    margin-right: 10%;
}}

@media screen and (max-width: 573px) {
    div#enunc{
        transform: scale(0.90);
        padding: 18px;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 32px;
    }
    button{
        
        width: 360px;
        height: 99px;
       margin-top: 25px;
       font-size: 20px;
    }
    button:hover{
        width: 360px;
        transform: translateY(15px);
    }
}

@media screen and (max-width: 523px) {
    div#enunc{
        transform: scale(0.90);
        padding: 18px;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 30px;
    }
    button{
        
        width: 320px;
        height: 88px;
       margin-top: 25px;
       font-size: 20px;
    }
    button:hover{
        width: 320px;
        transform: translateY(15px);
    }
}

@media screen and (max-width: 487px) {
    div#enunc{
        transform: scale(0.90);
        padding: 18px;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 35px;
    }
    button{
        
        width: 300px;
        height: 83px;
       margin-top: 25px;
       font-size: 20px;
    }
    button:hover{
        width: 300px;
        transform: translateY(15px);
    }
}

